@import '../../_colours';

.wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.progressWrapper {
  width: 80vw;
  margin-top: 10px;
  height: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid white;
}

.progress {
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: $background-dark-gradient;
  vertical-align: baseline;
  -moz-transition: width 1s ease;
  -webkit-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
}
