.tickerCell {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  flex-direction: column;

  > .tickerCellValue {
    font-size: 100%;
  }

  > .tickerCellLabel {
    font-style: italic;
  }
}
