@import '../../_colours';

.actionBar,
.actionBarHandle {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.actionBar {
  padding: 10px 0px;
  background: linear-gradient(rgba(52, 143, 199, 0), rgba(52, 143, 199, 0.5));
  backdrop-filter: blur(8px);
  border-top: 1px solid $button-active-text-color;
}

.closedActionBar {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 0;
}

.actionBarWrapper {
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex: 1;
  width: 100vw;
  flex-direction: column;
}

.chevron {
  animation: gradient 2s ease infinite;
  cursor: pointer;
}

@keyframes gradient {
  0% {
    color: red;
    font-size: 1em;
  }
  50% {
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
  }
  100% {
    color: red;
    font-size: 1em;
  }
}
