@import '../../_colours';

.actionBar,
.actionBarHandle {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.actionBar {
  padding: 10px 0px;
  background: linear-gradient(rgba(52, 143, 199, 0), rgba(52, 143, 199, 0.5));
  backdrop-filter: blur(8px);
}

.closedActionBar {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 0;
}

.actionBarWrapper {
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex: 1;
  width: 100vw;
  flex-direction: column;
}

.chevron {
  color: $button-text-color;
}
